@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");
@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #f341a9;
  /* --color-primary: #0a0a0a; */
  --color-secondary: #8dd9f7;
  /* --color-secondary: #00ffab; */
  --color-accent: #ffffff;
  --color-light-primary: #fec50b;
  --color-purple: #a50392;

  --font-inter: "Inter", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins";
  --font-hepta-slab: "Hepta Slab", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply overscroll-none;
}
